{{yield
  (hash
    text=(component "in-text" value on-input=(action (mut value)))
    toggle=(component "in-toggle" value on-change=(action (mut value)))
    select=(component "in-select" value)
  )
}}

{{#if validation}}
  <ul class="fm-field__validation-messages">
    {{#each validation.messages as |message|}}
      <li>{{message}}</li>
    {{/each}}
  </ul>
{{/if}}
