.ui-scrollable {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui-scrollable__viewport {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-height: 100%; /* Safari Fix */
  overflow: auto;
}

.ui-scrollable__scroller {
  overflow: hidden;
}

.ui-scrollable .ps-scrollbar-x-rail,
.ui-scrollable .ps-scrollbar-y-rail,
.ui-scrollable .ps-scrollbar-x,
.ui-scrollable .ps-scrollbar-y {
  position: absolute;
  display: block;
}

.ui-scrollable .ps-scrollbar-x-rail {
  left: 0 !important;
  bottom: 0 !important;
}

.ui-scrollable .ps-scrollbar-y-rail {
  top: 0 !important;
  right: 0 !important;
}

.ps-scrollbar-x,
.ps-scrollbar-y {
  transform: translate3d(0,0,0);
}
