.ui-table--v2,
.ui-tr--each {
  display: flex;
  flex-direction: column;
}

.ui-thead__resizer-content {
  align-items: flex-end;

  .ui-thead__content,
  .ui-sortable {
    white-space: nowrap;
  }
}

.ui-thead,
.ui-tfoot {
  min-height: max-content;
}

.ui-thead__content,
.ui-tfoot__content {
  overflow: hidden;
}

.ui-thead__resizer-content,
.ui-tbody,
.ui-tfoot {
  display: flex;
}

.ui-th {
  display: inline-block;
}

.ui-tbody {
  overflow-y: auto;
  flex: 1;
}

[data-table-block] {
  overflow: hidden;
}

[data-table-block="fixed"] {
  min-width: max-content;
}

[data-table-block="variable"] {
  min-width: 0;
}

.ui-tbody__content {
  overflow-x: scroll;
}

.ui-tbody .infinite-list-content {
  padding: 0;
}

.ui-tr {
  display: flex;
  min-height: 1em;
  align-items: center;
  min-width: min-content;
}

.ui-tr--measure {
  height: 0;
  overflow: hidden;
}
