body {
  margin: 0;
}

#chrome {
  display: flex;
  flex-direction: column;
}

#header-1 {
  height: 18px;
}

#content-1 {
  height: calc(100vh - 18px);
  display: flex;
  flex-direction: column;
}

.ui-table__tr.active {
  background: red;
}

.ui-table__tr--even {
  background: lightblue;
}

.ui-table {
}
