body {
  margin: 0;
}

#chrome {
  display: flex;
  flex-direction: column;
}

#header-1 {
  height: 18px;
}

#content-1 {
  height: calc(100vh - 18px);
}

.ui-table__tr.active .ui-table__td {
  background: red;
}
