{{yield
  (hash
    text=(component "in-text" (String modelValue on-set=(action "modelValueDidChange")))
    toggle=(component "in-toggle" (Boolean modelValue on-set=(action "modelValueDidChange")))
  )
}}

{{#if isModelValidatable}}
  <ul class="fm-field__validation-messages">
    {{#each model.results.messages as |message|}}
      <li>{{message}}</li>
    {{/each}}
  </ul>
{{/if}}
