<div class="ui-thead__resizer-content">
  <div data-table-block="fixed">
    {{yield}}
  </div>
  <div data-table-block="variable">
    <div class="ui-thead__content">
      {{yield to="inverse"}}
    </div>
  </div>
</div>
<div class="ui-thead__resizer"></div>
