<div class="ui-tfoot--fixed__fixed ui-table__fixed">
  {{yield}}
</div>
<div class="ui-tfoot--fixed__variable ui-table__variable">
    <div class="ui-tfoot__content">
      {{yield to="inverse"}}
    </div>
</div>
