<div class="ui-thead__content">
  <div class="ui-thead--fixed__fixed-block ui-table__fixed-block">
    {{yield}}
  </div>
  <div class="ui-thead--fixed__variable-block ui-table__variable-block">
    {{yield to="inverse"}}
  </div>
</div>
<div class="ui-thead__resizer"></div>
