<div class="ui-tbody--fixed__fixed-block ui-tbody__block ui-table__fixed-block">
  {{yield}}
</div>
<div class="ui-tbody--fixed__variable-block ui-tbody__block ui-table__variable-block">
  {{yield to="inverse"}}
</div>
