<div class="ui-thead__content">
  <div data-table-block="fixed">
    {{yield}}
  </div>
  <div data-table-block="variable">
    {{yield to="inverse"}}
  </div>
</div>
<div class="ui-thead__resizer"></div>
