<div class="ui-table__scrollable ui-table__tbody__scrollable ui-table__froze">
  <div class="ui-table__scroller ui-table__tbody__scroller">
  </div>
</div>
<div class="ui-table__scrollable ui-table__tbody__scrollable ui-table__unfroze">
  <div class="ui-table__scroller ui-table__tbody__scroller">
    {{#each buffer key="key" as |item index|}}
      {{yield
        (hash
          r=(component "ui-table/tr" table=table tbody=this)
        )
        item.model
        item.index
      }}
    {{/each}}
  </div>
</div>
