<div class="ui-table__froze"></div>
{{#ui-scrollable class="ui-table__unfroze" ps=(hash suppressScrollY=true)}}
  {{yield
    (hash
      h=(component "ui-table/th" table=table thead=this)
    )
  }}
{{/ui-scrollable}}
