{{yield
  (hash
    d=(component "ui-table/td" table=this.tbody.table tbody=this.tbody tr=this)
  )
}}
<div class="{{class}} {{classNames}} {{if odd 'ui-table__tr--odd' 'ui-table__tr--even'}} ui-table__tr--froze"></div>
