<div id="chrome">
  <div id="header-1">
    {{#link-to "ui-table"}}ui-table{{/link-to}}
    {{#link-to "ui-resizable"}}ui-resizable{{/link-to}}
    {{#link-to "ui-select"}}ui-select{{/link-to}}
  </div>
  <div id="content-1">
    {{outlet}}
  </div>
</div>
