<div id="chrome">
  <div id="header-1">
    {{#link-to "ui-table"}}ui-table{{/link-to}}
    {{#link-to "ui-resizable"}}ui-resizable{{/link-to}}
    {{#link-to "ui-draggable"}}ui-draggable{{/link-to}}
    {{#link-to "ui-select"}}ui-select{{/link-to}}
    {{#link-to "ui-position"}}ui-position{{/link-to}}
    {{#link-to "ui-scrollable"}}ui-scrollable{{/link-to}}
    {{#link-to "fm-form"}}fm-form{{/link-to}}
  </div>
  <div id="content-1">
    {{outlet}}
  </div>
</div>
