<div>
  <div id="ui-position">
    {{#ui-position options=(hash my="left top" at="left bottom")}}
      CONTENT
    {{/ui-position}}
  </div>
  LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS
  LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS
  LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS
  LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS
  LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS
  LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS LOTS OF CONTENTS
</div>
