{{#ui-select users as |state action|}}
  <ul>
    {{#each state.items as |item|}}
      <li class="{{if item.isSelected 'active'}}" onclick={{action action.select item}}>{{item.attributes.first-name}}</li>
    {{/each}}
  </ul>
{{/ui-select}}
